script(src="/javascripts/map.js")

div#wrapper(ng-controller="MapCtrl")
	//i(class="icon-refresh icon-spin iconBig")

	div#showTarget(ng-show="!!trackingPoi")
		img(
				src="https://maps.googleapis.com/maps/api/staticmap?center={{position.lat}},{{position.lng}}&markers={{trackingPoi.Position.Latitude}},{{trackingPoi.Position.Longitude}}&scale=2&size=320x320&maptype=terrain&sensor=true&key={{key}}",
				style="{{'-webkit-transform:rotateZ(' + -heading + 'deg)'}}"
			 )

		div#targetName
			{{trackingPoi.Name}}
		div#distanceToTarget
			{{distance}}m
		div#targetHours(ng-class="(trackingPoi.OpenNow && 'open') || (!trackingPoi.OpenNow && 'closed')", ng-show="trackingPoi.OpenNow")
			i(class="icon-time")
			{{trackingPoi.OpenToday}}
		div#stationInfo(ng-show="showStationInfo")
			div(ng-repeat="metro in metros",class="metro")
				{{metro.DisplayRow1}}

	div#whereTo(ng-show="!!trackingPoi")
		div#toTheLeft(ng-class="{bearingStraight: showTarget, bearingLeft: bearing > 15, bearingRight: bearing < -15}")
			i(class="icon-angle-left")


	//div#flat(style="{{'perspective(800px) translateZ(0) rotateX(60deg) rotateZ(' + -heading + 'deg) translate3d(0,300px,0)'}}")
	//	img(ng-repeat="map in maps", style="left:{{map.point.x}}px; top:{{map.point.y}}px", class="mapTile", ng-src="{{map.url}}")
	.list
		div(id="{{poi.Id}}", title="{{poi.Name}}",ng-repeat="poi in pois",class="marker open-{{poi.OpenToday}}", style="{{poi.style}}", ng-click="startTracker(poi)"	)
			.entypo 
				&#59175;
				.distance(ng-show="!!poi.distance") {{((poi.distance < 1000 && poi.distance + "m")) || (Math.round(poi.distance / 1000) + "km")}}
			
			// img(ng-src="{{poi.IconUrl}}")
			label(ng-class="(poi.OpenNow && 'open') || (!poi.OpenNow && 'closed')") 
				// remove adress from name
				.name {{poi.Name.split(',')[0]}}
				// If adress is same as name we will not show the address
				.address {{poi.Address.replace(poi.Name, '')}} 
				.openingHours(ng-show="!!poi.OpenToday")
					i(class="icon-time")
					{{poi.OpenToday}}

	

	div#menuLeft(ng-click="menuOpen = !menuOpen")
		i(class="icon-align-justify")
	div#overlay(ng-class="{opacityOpen: menuOpen}")
		div#search
			div#searchInput
				i(class="icon-search")
				input(type="text", ng-model="query")
				div#clearInput(ng-click="query = ''")
					span x

			div#closest(ng-show="query", ng-click="startTracker(allPois[0], menuOpen = !menuOpen)")
				span Närmaste "{{query}}" är 
					div.closestHit {{allPois[0].Name}}
				i(class="icon-angle-right lockon")

			div#closestInfo(ng-class="(allPois[0].OpenNow && 'open') || (!allPois[0].OpenNow && 'closed')")
				//div#closestName {{allPois[0].Name}}
				div#closestDetails(ng-show="allPois[0].Details")
					{{pois[0].Details}}
				div#closestOpenToday(ng-show="allPois[0].OpenToday")
					i(class="icon-time")
					{{pois[0].OpenToday}}
				div#closestLink(ng-show="allPois[0].Source")
					i(class="icon-external-link")
					a(ng-href="{{allPois[0].Url}}") {{pois[0].Source}}


		div#menu(ng-class="{menuOpen: menuOpen}")
			div.menuItem(ng-click="updateQuery('Snabbmat')")
				i(class="icon-food")
				span Snabbmat
			div.menuItem(ng-click="updateQuery('Bankomat')")
				i(class="icon-arrow-down")
				span Bankomat
			div.menuItem(ng-click="updateQuery('Systembolaget')")
				i(class="icon-glass")
				span Systembolaget
			div.menuItem(ng-click="updateQuery('Brevlåda')")
				i(class="icon-envelope")
				span Brevlåda
			div.menuItem(ng-click="updateQuery('Tunnelbana')")
				img(src="/images/tunnelbanan.jpg")
				span Tunnelbana
			div.menuItem(ng-click="updateQuery('Bensinmack')")
				i(class="icon-road")
				span Bensinmack
			div.menuItem(ng-click="updateQuery('Apotek')")
				i(class="icon-hospital")
				span Apotek
			div.menuItem(ng-click="updateQuery('Mataffär')")
				i(class="icon-shopping-cart")
				span Mataffär
			div.menuItem(ng-click="updateQuery('Ticnetombud')")
				i(class="icon-tag")
				span Ticnetombud
			div.menuItem(ng-click="updateQuery('ATG-ombud')")
				i(class="icon-bookmark")
				span ATG-ombud
			div.menuItem(ng-click="updateQuery('Posten')")
				i(class="icon-gift")
				span Postkontor
			div.menuItem(ng-click="updateQuery('Cafe')")
				i(class="icon-coffee")
				span Café
