script(src="/javascripts/map.js")

div.picnic.stripes
	test

div#wrapper(ng-controller="MapCtrl")
	div#search
		div#searchInput
			i(class="icon-search")
			input(type="text", ng-model="query")
			div#clearInput(ng-click="query = ''")
				span x

		div#closest(ng-show="query")
			span Din n채rmaste "{{query}}" 채r 
				div.closestHit {{pois[0].Name}}
			i(class="icon-lock lockon")

	div#flat
		img(ng-src="{{mapUrl}}")
		div(title="{{poi.Name}}",ng-repeat="poi in pois",class="marker open-{{poi.OpenToday}}", style="{{poi.style}}", ng-mouseover="popupOpen = !popupOpen", ng-mouseleave="popupOpen = !popupOpen", ng-class="{markerOnTop: !menuOpen}")
			img(ng-src="{{poi.IconUrl}}")
			div.popup(ng-show="popupOpen")
				div.popupName
					{{poi.Name}}
				div.popupAddress
					{{poi.Address}}

	div#menuLeft(ng-click="menuOpen = !menuOpen")
	div#overlay(ng-class="{opacityOpen: menuOpen}")
		div#menu(ng-class="{menuOpen: menuOpen}")
			div.menuItem(ng-click="updateQuery('Snabbmat')")
				i(class="icon-food")
				span Snabbmat
			div.menuItem(ng-click="updateQuery('Bankomat')")
				i(class="icon-arrow-down")
				span Bankomat
			div.menuItem(ng-click="updateQuery('Systembolaget')")
				i(class="icon-glass")
				span Systembolaget
			div.menuItem(ng-click="updateQuery('biograf')")
				i(class="icon-film")
					span Biograf
			div.menuItem(ng-click="updateQuery('Bensinmack')")
				i(class="icon-road")
				span Bensinmack
			div.menuItem(ng-click="updateQuery('Apotek')")
				i(class="icon-hospital")
				span Apotek
			div.menuItem(ng-click="updateQuery('mataff채r')")
				i(class="icon-shopping-cart")
				span Mataff채r
			div.menuItem(ng-click="updateQuery('Ticnetombud')")
				i(class="icon-tag")
				span Ticnetombud
			div.menuItem(ng-click="updateQuery('ATG-ombud')")
				i(class="icon-bookmark")
				span ATG-ombud
	//input(type="range", ng-model="zoom")
