script(src="/javascripts/map.js")

div#wrapper(ng-controller="MapCtrl")
	//i(class="icon-refresh icon-spin iconBig")

	div#whereTo(ng-show="query")
		div#toTheLeft(ng-class="{bearingStraight: showTarget, bearingLeft: bearing > 15, bearingRight: bearing < -15}")
			i(class="icon-angle-left")
	
	div#showTarget(ng-class="{showTarget:showTarget}")
		div#targetName
			{{pois[0].Name}}
		div#distanceToTarget
			{{distance}}m
	div#flat
		// img(ng-repeat="map in maps", style="left:{{map.point.x}}px; top:{{map.point.y}}px", class="mapTile", ng-src="{{map.url}}")
		div(id="{{poi.Id}}", title="{{poi.Name}}",ng-repeat="poi in pois",class="marker open-{{poi.OpenToday}}", style="{{poi.style}}", ng-mouseover="popupOpen = !popupOpen", ng-mouseleave="popupOpen = !popupOpen", ng-show="poi.distance < 2000")
			img(ng-src="{{poi.IconUrl}}")
			div.popup(ng-show="popupOpen")
				div.popupName
					{{poi.Name}}
				div.popupAddress
					{{poi.Address}}
				div.popupStoreHours
					{{poi.OpenToday}}
					{{poi.OpenTomorrow}}

	div#menuLeft(ng-click="menuOpen = !menuOpen")
		i(class="icon-align-justify")
	div#overlay(ng-class="{opacityOpen: menuOpen}")
		div#search
			div#searchInput
				i(class="icon-search")
				input(type="text", ng-model="query")
				div#clearInput(ng-click="query = ''")
					span x

			div#closest(ng-show="query", ng-click="startTracker(menuOpen = !menuOpen)")
				span Närmaste "{{query}}" är 
					div.closestHit {{pois[0].Name}}
				i(class="icon-lock lockon")

			div#closestInfo(ng-class="(pois[0].OpenNow && 'open') || (!pois[0].OpenNow && 'closed')")
				//div#closestName {{pois[0].Name}}
				div#closestDetails(ng-show="pois[0].Details")
					{{pois[0].Details}}
				div#closestOpenToday(ng-show="pois[0].OpenToday")
					i(class="icon-time")
					{{pois[0].OpenToday}}
				div#closestLink(ng-show="pois[0].Source")
					i(class="icon-external-link")
					a(ng-href="{{'http://' + pois[0].Source}}") {{pois[0].Source}}

		div#menu(ng-class="{menuOpen: menuOpen}")
			div.menuItem(ng-click="updateQuery('Snabbmat')")
				i(class="icon-food")
				span Snabbmat
			div.menuItem(ng-click="updateQuery('Bankomat')")
				i(class="icon-arrow-down")
				span Bankomat
			div.menuItem(ng-click="updateQuery('Systembolaget')")
				i(class="icon-glass")
				span Systembolaget
			div.menuItem(ng-click="updateQuery('Brevlåda')")
				i(class="icon-envelope")
				span Brevlåda
			div.menuItem(ng-click="updateQuery('Tunnelbana')")
				img(src="/images/tunnelbanan.jpg")
				span Tunnelbana
			div.menuItem(ng-click="updateQuery('Bensinmack')")
				i(class="icon-road")
				span Bensinmack
			div.menuItem(ng-click="updateQuery('Apotek')")
				i(class="icon-hospital")
				span Apotek
			div.menuItem(ng-click="updateQuery('Mataffär')")
				i(class="icon-shopping-cart")
				span Mataffär
			div.menuItem(ng-click="updateQuery('Ticnetombud')")
				i(class="icon-tag")
				span Ticnetombud
			div.menuItem(ng-click="updateQuery('ATG-ombud')")
				i(class="icon-bookmark")
				span ATG-ombud
			div.menuItem(ng-click="updateQuery('Posten')")
				i(class="icon-gift")
				span Postkontor
			div.menuItem(ng-click="updateQuery('Cafe')")
				i(class="icon-coffee")
				span Café
