script(src="/javascripts/map.js")

div.picnic.stripes
	test

div#wrapper(ng-controller="MapCtrl")
	div#search
		input(type="text", ng-model="query")

	div#flat
		img(ng-src="{{mapUrl}}")
		div(title="{{poi.Name}}",ng-repeat="poi in pois",class="marker open-{{poi.OpenToday}}", style="{{poi.style}}", ng-mouseover="popupOpen = !popupOpen", ng-mouseleave="popupOpen = !popupOpen")
			img(ng-src="{{poi.IconUrl}}")
			div.popup(ng-show="popupOpen")
				div.popupName
					{{poi.Name}}
				div.popupAddress
					{{poi.Address}}

	div#menuLeft(ng-click="menuOpen = !menuOpen")

	div#overlay(ng-class="{opacityOpen: menuOpen}")
		div#menu(ng-class="{menuOpen: menuOpen}")
			i(class="icon-food", ng-click="updateQuery('mcdonalds')")
			i(class="icon-hospital", ng-click="updateQuery('sjukhus')")
			i(class="icon-beer", ng-click="updateQuery('bar')")
			i(class="icon-film", ng-click="updateQuery('biograf')")
			i(class="icon-home", ng-click="updateQuery('hem')")
			i(class="icon-shopping-cart", ng-click="updateQuery('mataffär')")
	//input(type="range", ng-model="zoom")
