!!!5
html(ng-app)
  head
    title= title
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
    meta(name="viewport", content="initial-scale=1, user-scalable=no")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/stylesheets/font-awesome.css")
    link(rel="apple-touch-icon", sizes="144x144", href="/images/apple-touch-icon-ipadretina.png")
    link(rel="apple-touch-icon", sizes="114x114", href="/images/apple-touch-icon-iphone4.png")
    link(rel="apple-touch-icon", sizes="72x72", href="/images/apple-touch-icon-ipad.png")
    link(rel="apple-touch-icon", href="/images/apple-touch-icon-iphone.png")
    link(href='http://fonts.googleapis.com/css?family=Merriweather+Sans:800,300', rel='stylesheet', type='text/css')
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js")
    script(src="/javascripts/compass.js")
    script(src="/javascripts/audio.js")
    script(src="/javascripts/projection.js")
  body!= body